.chart {
    flex: 4;
    color: gray;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    .title {
        margin-bottom: 20px;
    }

    .chartGrid {
        stroke: lightgray;
    }
}